.conteneur  {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 320px;
  border: 3px solid green;
  flex-wrap: wrap;
}

.case {
  height: 80px;
  width: 80px;
}

.fond-blanc {
  background-color: ivory;
}

.fond-noir {
  background-color: black;
}

.fond-bleu {
  background-color: blue;
}

.fond-rouge {
  background-color: red;
}

.fond-blanc:hover{
  background-color: green;
}
